<h3 class="title3">
  Clicked cart title is <span>{{ cartTitle }}</span>
</h3>
<h3 class="title3">
  <span>{{ cartTitle }} </span> being hovered! {{ hoveredCart }}
</h3>

<div class="cart-container">
  <div class="carts">
    <ng-container *ngFor="let cart of carts; let i = index">
      <app-cart
        [cart]="cart"
        [index]="i"
        (myTitleChange)="handleClick($event)"
      ></app-cart>
    </ng-container>
  </div>
  <div class="cart-display">
    <!-- <app-cart-display></app-cart-display>  -->
    <router-outlet> </router-outlet>
  </div>
</div>
