.cart-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;

  .carts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
  }
  .cart-display {
    width: 50%;
  }
}
.title3 {
  margin-left: 30px;
  font-size: 24px;
  font-style: normal;
  font-family: sans-serif;
  margin-top: 30px;
  span {
    color: royalblue;
  }
}
