<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="link-active"
        >Home
      </a>
      <a mat-list-item routerLink="add" routerLinkActive="link-active"
        >Add cart</a
      >
      <a mat-list-item routerLink="carts" routerLinkActive="link-active">
        Carts
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>

      <span>Angular</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <!-- <app-carts-form></app-carts-form> -->
  </mat-sidenav-content>
</mat-sidenav-container>
